<header>
    <nav>
        <a href="/">home</a>
        <a href="/about">about us</a>
        <a href="/logout" onclick="fetch('/logout')">log out</a>
    </nav>
</header>
<ul>
    <li>id: {{{id}}}</li>
    <li>name: {{{name}}}</li>
    <li>email: {{{email}}}</li>
</ul>